body{
    background-color: rgb(178, 130, 223);
}
h1{
    color: black;
    font-size: 80px;
    text-align: center;
}
.cabecalho{
    background-color: rgb(145, 54, 230);
    display: flex;
}
.logoimg{
    width: 500px;
    height: 500px;
}
.istacabecalho{
    display: flex;
    margin-left: 700px;
    margin-top: 200px;
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(175, 130, 216);
    padding-left: 30pc;
}